<div class="text-center">
  <div class="box">
    <div class="box-contents">
      <%= image_tag current_user.image.gsub("_normal", ""), size: 100, class: "img-responsive-overwrite" %>
      <h5><%= current_user.name %></h5>
      <p>@<%= current_user.nickname %></p>
      <p><%= current_user.location %></p>
    </div>
  </div>
  <%= render "shared/how_to_use" %>

  <div class="sox">
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <%= link_to "利用規約", static_pages_terms_of_use_path %>
  <%= link_to "プライバシーポリシー", static_pages_privacy_policy_path %>
  </div>
</div>