<div class="text-center">
  <div class="box" style="background-color: #5cdcff">
  <%= image_tag "Twiofflogo.png", width: "70%", id: "logo" %>
  </div>
  <%= render "shared/how_to_use.html.erb" %>
  <%= render "users/shared/twitter" %>
  <p style="font-size: 11px">※<%= link_to "利用規約", static_pages_terms_of_use_path %>、
    <%= link_to "プライバシーポリシー", static_pages_privacy_policy_path %>に同意の上ご利用ください。</p>
</div>
