<div class="box">
  <div class="box-contents text-center">
    <h5>キニナル人を登録 <i class="fas fa-user-plus" style="color: rgba(149,179,255,0.98);"></i></h5>
    <p>Twioffに登録していて、フォローしていて、まだマッチしていない人が表示されます</p>
    <p>アプリをシェアする</p>
    <%= render "shared/twitter_share_button" %>
  </div>
</div>
<%- @friends.each do |friend| %>
  <%- unless current_user.following?(friend) && friend.following?(current_user) %>
    <div class="box" id="<%= escape_javascript(friend.name) %>">
      <div class="box-contents" style="display: flex">
        <div class="friend-box">
          <%= image_tag friend.image.gsub("_normal", ""), size: 50, class: "img-responsive-overwrite", align: "middle" %>
          <span><%= friend.name %></span>
        </div>
        <div id="follow_form<%= friend.name %>">
          <%- if !current_user.following?(friend) %>
            <%= render "relationships/follow", friend: friend %>
          <%- else %>
            <%= render "relationships/unfollow", friend: friend %>
          <% end %>
        </div>
      </div>
    </div>
  <%- end %>
<%- end %>
