<div id="smart-layout" class="text-center">
  <div class="box">
    <div class="box-contents">
      <%= image_tag current_user.image.gsub("_normal", ""), size: 100, class: "img-responsive-overwrite" %>
      <p><%= current_user.name %></p>
      <p><%= current_user.nickname %></p>
      <p><%= current_user.location %></p>
    </div>
  </div>

  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <span>ボタンどこに作ろっかな</span>
</div>


