<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/head" %>
</head>

<body>
  <%= render "layouts/header" %>
  <div class="container">
    <%= render "layouts/flash" %>
<%= yield %>
    <%= render "shared/sox" %>
  </div>
  <%= render "layouts/footer" if user_signed_in? %>
</body>
</html>
