<!DOCTYPE html>
<html>
<head>
  <title>Twioff Ver.β</title>
  <%= favicon_link_tag "Twioff-favicon.png" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <%= render "layouts/ogp" %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-7113238047454038",
          enable_page_level_ads: true
      });
  </script>
</head>

<body>
  <%= render "layouts/header" %>
  <div class="container">
<%= yield %>
    <%= render "shared/sox" %>
  </div>
<%- if user_signed_in? %>
  <%= render "layouts/footer" %>
<%- end %>

</body>
</html>
